@media screen and (max-width 768px) 

	.container
		.header
			font-size 80%
			.nav
				li
					a.nav-link
						widtn 160px
		.wrapper 
			font-size 80%
			margin-top 60px
			section
				.content 
					width 85%
					h2
						font-size 1.8em
					.col
						-webkit-column-width 50%
						-moz-column-width 50%
						column-width 50%
						-webkit-column-count 2
						-moz-column-count 2
						column-count 2

@media screen and (max-width 320px) 
	.container
		header
			h1 
				margin-bottom 0
		.wrapper 
			font-size 80%
			margin-top 25px
			section
				background-position 0 28em
				background-size 100%
				position relative
				.content
					h2
						margin 0 0 1em
					.col
						-webkit-column-width auto
						-moz-column-width auto
						column-width auto
						-webkit-column-count auto
						-moz-column-count auto
						column-count auto
			.current
				width 90%
			.left
				right 5%
			.right
				left 95%