@import "mixins";
@import "icons/icons";

$serifs: "Quattrocento", "Helvetica", sans-serif;
$sans-serifs: "Source Sans Pro", "Helvetica", sans-serif;
$blue: #2980b9;
$gray: #f1f2f3;
$medium-gray: #78797a;
$dark-gray: #444648;
$padding: 35px;

body{
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	background: white;
	color: #333;
	font-family: $serifs;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $sans-serifs;
}
h5, h6 {
	text-transform: uppercase;
	margin-bottom: 0;
}

a {
	color: inherit;
	text-decoration: none;
	&:hover {
		color: $blue;
	}
	transition: color 0.5s;
	&.underline {
		border-bottom: 1px solid #aaa;
	}
}

section.bio {
	position: fixed; 
	background: $gray;
	padding: $padding;
	box-sizing: border-box;
	text-align: center;
	top: calc(50% - 230px);
	left: calc(50% - 325px);
	min-height: 460px;
	width: 650px;
	z-index: 2;
	padding-bottom: 0;
	transition: height 1s, width 0.7s, top 1s, left 1s;
	overflow: hidden;
	white-space: nowrap;

	img {
		margin: 0 auto;
		width: 200px;
		border-radius: 100px;
		box-shadow: 0px 0px 2px #aaa;
		transition: margin-top 0.5s;
	}

	h1 {
		font-size: 2em;
		text-align: center;
		margin-bottom: 0;
		letter-spacing: 0.04em;
		color: black;
		font-weight: bold;
	}
	h3 {
		margin-top: 0.25em;
		font-weight: normal;
		text-align: center;
		letter-spacing: 0.03em;
		
		&:not(.full-link){
			color: #777;
		}
	}

	.bio-section {
		box-sizing: border-box;
		text-align: left;
		margin: 2em 0;
		max-width: 270px;
		padding-right: 20px;
		white-space: normal;
		&:first-of-type {
			margin-top: 0;
		}

		h6 {
			letter-spacing: 0.07em;
			margin-top: 0;
		}

		p {
			margin: 0.7em 0;
			line-height: 1.2em;
			position: relative;
			&.link{
				padding-right: 1em;
			}
			b {
				font-family: $sans-serifs;
			}
			.small {
				font-size: 0.7em;

				&::after {
					content: "\ea3c";
					font-family: 'icomoon' !important;
					position: absolute;
					right: 4px;
					top: 50%;
					transform: translate(0, -50%);
					transition: right 0.25s, color 0.2s;
				}
			}

			a:hover .small::after {
				right: 0px;
				color: $blue;
			}
		}

		&.bottom {
			margin-bottom: 0;
		}
	}

	p.social-icons {
		position: relative;
		display: flex;
		justify-content: center;
		margin-left: -0.5em;
		margin-right: -0.5em;
		a {
			flex-grow: 1;
			font-size: 2em;
			text-align: center;
			.print-text {
				vertical-align: top;
				font-size: 0.5em;
				line-height: 2em;
				margin: 0 0.5em;
				display: none;
			}
			&.icon-linkedin:before {
				position: relative;
				top: -0.1em;
			}
		}
	}

	.bio-header-group {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		max-width: 320px;
		transition: width 0.8s;
		margin-right: 1em;
	}

	.bio-section-group {
		display: inline-block;
		vertical-align: top;
		width: 50%;
		transition: opacity 0.5s;
		margin-left: 1em
	}

	a.expand-button {
		display: block;
		box-sizing: border-box;
		min-width: 100%;
		width: calc(100% + 70px);
		margin-top: 1em;
		margin-left: -$padding;
		margin-right: -$padding;
		padding: 25px;
		margin-bottom: 0;
		text-align: center;
		background: $gray;
		border-top: 1px solid white;
		bottom: 0;
		left: 0;
		right: 0;
		font-size: 1.2em;
		transition: opacity 0s;
		h3, h3 > .icon-forward {
			display: inline;
		}
		.icon-forward {
			position: relative;
			top: 0.1em;
			left: 0.4em;
			transition: left 0.5s;
		}
		&:hover {
			.icon-forward{
				left: 0.6em;
			}
		}
	}
}

section.resume, section.projects {
	margin-left: 320px;
	padding: $padding;
	opacity: 0;

	transition: opacity 1s 0.5s;

	.section-head {
		color: $medium-gray;
		&:first-of-type {
			margin-top: 0;
		}
		letter-spacing: 0.06em;
		margin-top: 1.5em;
	}

	.indented {
		padding-left: 1em;
	}

	.resume-item {
		display: flex;
		flex-flow: row nowrap;
		justify-content: left;
		align-items: baseline;
		margin: 1.5em 0;
		&:first-of-type{
			margin-top: 0.75em;
		}
		.item-left{
			flex: 1 1 auto;
			align-self: center;
			.header {
				.subtitle{
					display: inline;
					font-family: $serifs;
					font-size: 0.75em;
					margin-left: 0.5em;
					color: $medium-gray;
					font-weight: normal;
				}
				margin: 0;
				line-height: 1.1em;
			}
			.body {
				margin-top: 0.2em;
				margin-bottom: 0;
				font-size: 0.95em;
				line-height: 1.3em;
				color: #555;
			}
		}
		.item-right{
			flex: 0 0 10rem;
			width: 10rem;
			text-align: right;
			width: auto;
			font-family: $sans-serifs;
			font-size: 0.75em;
			letter-spacing: 0.025em;
			color: #444;
			.location {
				font-weight: bold;
			}
			&.two-lines{
				align-self: flex-end;
			}
		}
	}
}

section.projects {
	max-width: 860px;
	margin: auto;
	opacity: 1;

	h1 {
		font-size: 3em;
		margin: 1rem 0;
	}

	& > a {
		font-family: $sans-serifs;
		font-size: 1.1em;
		border-bottom: 1px solid #aaa;
		.icon-back {
			position: relative;
			top: 2px;
			margin-right: 4px;
		} 
	}

	.item-content {
		display: flex;
		flex-direction: row;
		margin: 1em 0;
	}

	.item-image {
		box-sizing: border-box;
		flex: 200px 0 0;
		width: 200px;
		height: 125px;
		margin: 1em;
		align-self: top;
		background-position: 50% 0%;
		background-size: cover;
		border: 2px solid #8a8b8c;
		border-radius: 1px;
		transition: transform 0.4s;
		&:hover {
			transform: scale(1.05);
		}
	}

	.resume-item {
		.item-left {
			align-self: start;
			.header{
				line-height: 1.3em;
			}
		}
		.item-right {
			flex-basis: 100px;
		}
	}
}

body.sidebar {
	section.resume {
		opacity: 1; 
		display: block;
	}
	section.bio {
		height: 100% !important;
		width: 320px;
		top: 0;
		left: 0;
		transform: none;
		padding-bottom: 100px;
		white-space: normal;

		img {
			margin-top: 50px;
		}

		.bio-section {
			max-width: none;
			margin: 2em 0;
			&.bottom {
				position: absolute;
				bottom: $padding;
				left: $padding;
				right: $padding;
				margin-bottom: 0;
			}
		}
		
		.bio-header-group {
			width: 100%;
		}

		.bio-section-group {
			margin-left: 0;
			width: 100%;
		}

		.expand-button {
			display: none;
			opacity: 0;
		}
	}
}

body.animate {
	section.bio {
		width: 320px;
		.bio-header-group {
			width: 100%;
			height: 600px;
		}
		.bio-section-group {
			opacity: 0;
			transition: opacity 0s;
		}
		.expand-button {
			opacity: 0;
		}
	}
}

.icon-twitter:hover{
	border-color: #55ACEE;
	color: #55ACEE;
}
.icon-linkedin:hover{
	border-color: #4875B4;
	color: #4875B4;
}
.icon-email:hover{
	border-color: #FF6600;
	color: #FF6600;
}
.icon-resume:hover{
	border-color: #2ECC71;
	color: #2ECC71;
}
.icon-github:hover{
	border-color: #000000;
	color: #000000;
}
.icon-dribbble:hover{
	border-color: #EA4C89;
	color: #EA4C89;
}

@include respond-to("xlarge"){
	section.resume .resume-item{
		.item-left {
			flex: 0 0 650px;
			width: 650px;
		}
	}
}
@include respond-to("mobile"){
	.hide-mobile {
		// display: none !important;
	}
	section.bio{
		width: 100% !important;
		display: block;
		position: relative;
		box-shadow: none;
		padding-top: 30px;
		.bio-header-group{
			max-width: none;
			margin-right: none;
			img {
				margin-top: 0 !important;
			}
			h1 {
				margin-top: 0.25em;
			}
			h3 {
				margin-top: 0;
			}
		}
		.bio-section {
			padding-right: 0;
			&:first-of-type {
				margin-top: 1em !important;
			}
			&.bottom {
				position: relative;
			}
			p {
				// font-size: 1.1rem;
				&.social-icons {
					margin-left: 0;
					margin-right: 0;
				}
				.small {
					display: block;
				}
			}
		}
	}
	
	section.resume, section.projects {
		margin-left: 0;
		padding: 2rem;
		padding-top: 0;
		.indented {
			padding-left: 0;
		}
		.section-head {
			color: black;
			font-size: 1.5em;
			background: $gray;
			margin: 2rem -2rem 0;
			padding: 0.5rem 2rem;
			&:first-of-type{
				margin-top: 0;
			}
		}
		.resume-item {
			flex-direction: column;
			.item-left {
				order: 2;
				align-self: left;
				.header{
					line-height: 1.3em;
					.subtitle {
						display: block;
						margin-left: 0;
						color: #8a8b8c;
						font-size: 0.8em;
					}
				}
			}
			&:first-of-type{
				.item-right {
					margin-top: 0;
				}
			}
			.item-right {
				text-align: left;
				order: 1;
				flex-basis: 0;
				align-self: flex-start !important;
				margin: 0.7rem 0 0.3rem;
				opacity: 0.8;
			}
		}
	}

	section.projects {
		width: 100%;
		padding: 0.5em;
		box-sizing: border-box;
		h1 {
			font-size: 2em;
			margin-top: 1rem;
		}

		.item-content {
			flex-direction: column;
		}

		.item-image {
			width: 100%;
			margin: 0;
			&:hover {
				transform: none;
			}
		}
	}
}

@media screen {
	.hide-web {
		display: none !important;
	}
}

@import 'print';