@import "mixins";
@import "icons/icons";

body{
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: white;
	color: white;
	font-family: "Raleway", sans-serif;
	font-weight: 400;
	.background{
		z-index: -1000;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		transition: opacity 7s;
		opacity: 0;
		background: white;
		&.two{
			opacity: 1;
		}
	}
}
.card{
	z-index: 1;
	display: block;
	position: absolute;
	width: 30%;
	min-width: 400px;
	padding: 10px 20px;
	border-radius: 2px;
	@include respond-to("mobile"){
		width: calc(95% - 30px);
		height: calc(100% - 30px);
		min-width: 0px;
	}
	top: 50%;
	left: 50%;
	transform: translate3d(-50%, -50%, 0px);
	box-shadow: #777 0px 0px 2px;
	background: white;
	color: #333;
	.avatar{
		width: 150px;
		height: 150px;
		border-radius: 50%;
		display: block;
		margin: 50px auto 0px;
	}
	.name, .sub{
		font-weight: 100;
		text-align: center;
		margin-top: 10px;
		&.name{
			text-transform: uppercase;
			font-size: 2em;
		}
		&.sub{
			font-weight: 100;
			font-size: 1.2em;
		}
		a{
			text-decoration: none;
			color: #333;
			border-bottom: 1px solid #555;
			font-weight: 300;
			color: #555;
		}
	}
	ul.icons{
		display: block;
		margin: auto;
		text-align: center;
		margin-top: 30px;
		padding-left: 0;
		li{
			display: inline-block;
			list-style-type: none;
			&:first-of-type .icon{
				margin-left: 0;
			}
			&:last-of-type .icon{
				margin-right: 0;
			}
		}
		.icon{
			display: inline-block;
			font-size: 28px;
			color: #555;
			cursor: pointer;
			z-index: 10;
			position: relative;
			width: 100%;
			text-align: middle;
			line-height: 60px;

			width: 60px;
  			height: 60px;
  			margin: 5px;
 			border-radius: 50%;
 			border: 1px solid rgba(55, 55, 55, 0);
 			text-decoration: none;
  			&:hover{
  				border-color: rgba(55, 55, 55, 0.7);
  			}
  			transition: border-color 0.5s;
			&.icon-twitter:hover{
				border-color: #55ACEE;
				color: #55ACEE;
			}
			&.icon-linkedin:hover{
				border-color: #4875B4;
				color: #4875B4;
			}
			&.icon-email:hover{
				border-color: #FF6600;
				color: #FF6600;
			}
			&.icon-resume:hover{
				border-color: #2ECC71;
				color: #2ECC71;
			}
			&.icon-github:hover{
				border-color: #000000;
				color: #000000;
			}
		}
	}
}