.body
	.pure-g-r
		.pure-u-1-2
			.grid-inner
				h3 HackTJ 2.0
				p The website for my school's own hackathon, HackTJ. I designed and built it myself over a few weeks in December 2014, for the event in spring 2015.
				a(href="https://hacktj.org/2015" target="_blank").project-button View Site
		.pure-u-1-2
			.grid-inner
				h3 It's Showtime!
				p A movie recommentation engine that, instead of matching you up with movies, matches you with critics who share similar tastes to your own. Built at PennApps Winter 2015, with Python, MongoDB, and HTML/CSS/JS. 
				a(href="http://devpost.com/software/it-s-showtime" target="_blank").project-button View on DevPost
		.pure-u-1-2
			.grid-inner
				h3 Twittemology
				p A website that allows you to search for any tweet and see a heatmap of it's usage. It was built at PennApps fall 2014, but it's since been taken offline.
				a(href="http://devpost.com/software/twittemology" target="_blank").project-button View on DevPost
		.pure-u-1-2
			.grid-inner
				h3 Pilot Portal
				p A custom portal for <a href="https://gopilot.org">Pilot Event</a> attendees to register, view announcements, request help, upload projects, and more.
				a(href="https://github.com/gopilot/Portal" target="_blank").project-button View on GitHub
	.github
		a(href="http://github.com/pandringa" target="_blank") Check out my GitHub for more!