include ./partials/bio.jade
include ./partials/resume.jade

doctype
html
	head
		title Peter Andringa
		meta(name="viewport" content="width=device-width, user-scalable=0, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0")
		link(href='https://fonts.googleapis.com/css?family=Quattrocento:400,600|Source+Sans+Pro:300,400,700' rel='stylesheet' type='text/css')
		link(rel="stylesheet" href="css/main.css")
	body
		section.bio
			+bio(main_bio)
			.buttons-container
				a.expand-button(onclick="toggleCard()" href="#") 
					h3.full-link Full Resume
						span.icon-forward
				a.expand-button(href="/projects?selected=12")
					h3.full-link Portfolio
						span.icon-forward

		section.resume
			+resume(main_resume)

		script.
			const bodyClass = document.querySelector('body').classList
			const toggleCard = () => {
				setTimeout(() => {
					bodyClass.remove('animate');
				}, 1000)
				bodyClass.add('sidebar');
				bodyClass.add('animate');
			} 
			const bio = document.querySelector('.bio')
			bio.setAttribute('style', 'height: '+bio.clientHeight+'px')
			if(window.innerWidth < 450) bodyClass.add('sidebar');
			



