doctype
html
	head
		title Testing out the new stuff!
		link(rel="stylesheet" href="/css/master.css")

		script(src="/js/modernizr.custom.js")
	body
		!= yield

		script(src="/js/hammer.js")
		script(src="/js/main.js")