doctype
html
	head
		title Peter Andringa
		meta(name="viewport" content="width=device-width, user-scalable=0, maximum-scale=1.0, minimum-scale=1.0, initial-scale=1.0")
		link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Raleway:400,100,200,700,500|Quattrocento:400,700")
		link(rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.4.2/base-min.css&pure/0.4.2/grids-min.css")
		link(rel="stylesheet" href="/css/master.css")
		script(src="/js/modernizr.js")
	body
		div.container#container
			header.header.frontpage
				h1 Peter Andringa
				ul.main-nav
					li#goto-1
						a.nav-link(href="#home" data-page="1") Home
					li#goto-2
						a.nav-link(href="#about" data-page="2") About Me
					li#goto-3
						a.nav-link(href="#resume" data-page="3") Resume
					li#goto-4
						a.nav-link(href="#projects" data-page="4") Projects
					li#goto-5
						a.nav-link(href="#blog" data-page="5") Blog

			div.wrapper#wrapper
				section(data-page="1")#section-1
					div.content#page-1
						!= section("home")
				section(data-page="2")#section-2
					div.content#page-2
						!= section("about")
				section(data-page="3")#section-3
					div.content#page-3
						!= section("resume")
				section(data-page="4")#section-4
					div.content#page-4
						!= section("projects")
				section(data-page="5")#section-5
					div.content#page-5
						!= section("blog")
			nav.sidenav#sidenav
				div.sidenav-left#sidenav-left
				div.sidenav-right#sidenav-right

		script.
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
			ga('create', 'UA-45164401-1', 'andrin.ga');
			ga('send', 'pageview');
		script(async src="/js/master.js")
