div.body
  img.profile(async src="/img/portrait.jpg") 
  p <span class="greet">Hello!</span> My name is Peter Andringa, and I'm currently a high school student at <a href='http://tjhsst.edu' target='_blank'>Thomas Jefferson High School for Science and Technology</a>, an elite high school in Northern Virginia specifically for students who love math, science, engineering, and computer science.
  p I'm really passionate about entrepreneurship, startups, and technology. I've been coding and building cool stuff since 7th grade, and every I continue to learn from every project. Right now I'm working on a startup with a handful of friends (more info coming soon!), as well as helping others learn to love entrepreneurship and CS through what we're doing on the <a href="http://gopilot.org" target="_blank">Pilot</a> national team.
  p I'm always open to new opportunities or ideas, so don't hesitate to <a href='mailto:peter@andrin.ga'>contact</a> me via email (<a href='mailto:peter@andrin.ga'>peter@andrin.ga</a>), because I'd love to hear from you!

div.footer