div.body
div.footer.social
	a.facebook(href="http://facebook.com/peter.j.andringa" target="_blank")
		i.fa.fa-facebook
		span.circle
	a.twitter(href="https://twitter.com/p_andringa" target="_blank")
		i.fa.fa-twitter
		span.circle
	a.email(href="mailto:peter@andrin.ga")
		i.fa.fa-envelope
		span.circle
	a.linkedin(href="http://www.linkedin.com/in/PeterAndringa" target="_blank")
		i.fa.fa-linkedin
		span.circle
	a.rss(href="http://medium.com/feed/@p_andringa" target="_blank")
		i.fa.fa-rss
		span.circle
	a.dropbox(href="http://dropitto.me/pandringa" target="_blank")
		i.fa.fa-dropbox
		span.circle
	a.github(href="https://github.com/pandringa" target="_blank")
		i.fa.fa-github
		span.circle