.body
	.pure-g-r
		.pure-u-1-2
			.grid-inner
				h3 HackTJ 2.0
				p The website for my school's own hackathon, HackTJ. I designed and built it myself over a few weeks in December 2014, for the event in spring 2015.
				a(href="https://hacktj.org" target="_blank").project-button View Site
		.pure-u-1-2
			.grid-inner
				h3 Chat Embedder
				p A Chrome extension that uses the <a href="http://embed.ly" target="_blank">Embedly</a> API to embed content (from Youtube, SoundCloud, etc) directly into Facebook Chat.
				a(href="https://github.com/pandringa/Facebook-Chat-Embedder" target="_blank").project-button View on GitHub
		.pure-u-1-2
			.grid-inner
				h3 Twittemology
				p A website that allows you to search for any tweet and see a heatmap of it's usage. It was built at PennApps fall 2014, but it's been taken offline because our API key was revoked.
				a(href="http://challengepost.com/software/twittemology" target="_blank").project-button View on ChallengePost
		.pure-u-1-2
			.grid-inner
				h3 Andrin.ga
				p My own personal website, built with Jade/Stylus/JS using a custom-built static site generator, and hosted on GitHub Pages.
				a(href="https://github.com/pandringa/Andringa" target="_blank").project-button View on GitHub
	.github
		a(href="http://github.com/pandringa" target="_blank") Check out my GitHub page for more!