.body
	.pure-g-r
		.pure-u-1-2
			.grid-inner
				h3 Pi Light Sensor
				p A web-connected Raspberry Pi lumosity sensor, for a school project measuring the filtration rate of oysters. 
				a(href="https://github.com/pandringa/RPi-Light-Sensor" target="_blank").project-button View on GitHub
		.pure-u-1-2
			.grid-inner
				h3 Chat Embedder
				p A Chrome extension that uses the <a href="http://embed.ly" target="_blank">Embedly</a> API to embed content (from Youtube, SoundCloud, etc) directly into Facebook Chat.
				a(href="https://github.com/pandringa/Facebook-Chat-Embedder" target="_blank").project-button View on GitHub
		.pure-u-1-2
			.grid-inner
				h3 Sharks Vs. Subs
				p An iPhone/Android game I built in 7th-8th grade. While it's no longer on the App Store, but its still available for Android.
				a(href="https://play.google.com/store/apps/details?id=com.bluesprucegames.SharksVsSubs" target="_blank").project-button View on Google Play
		.pure-u-1-2
			.grid-inner
				h3 Andrin.ga
				p My own personal website, built with Jade/Stylus/JS using a custom-built static site generator, and hosted on GitHub Pages.
				a(href="https://github.com/pandringa/Andringa" target="_blank").project-button View on GitHub
	.github
		a(href="http://github.com/pandringa" target="_blank") Check out my GitHub page for more!